## Importar Bibliotecas

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Importação dos dados

In [6]:
url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja1 = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

Converter em Tipo datatype

In [ ]:
#Loja 1
loja1['Data_compra'] = pd.to_datetime(loja1['Data da Compra'], format="%d/%m/%Y")
loja1.pop('Data da Compra')
loja2['Ano']= loja2.Data_compra.dt.year
loja2['trimestre']= loja2.Data_compra.dt.quarter
#Loja 2
loja2['Data_compra'] = pd.to_datetime(loja2['Data da Compra'], format="%d/%m/%Y")
loja2.pop('Data da Compra')
loja2['Ano']= loja2.Data_compra.dt.year
loja2['trimestre']= loja2.Data_compra.dt.quarter
#Loja 3
loja3['Data_compra'] = pd.to_datetime(loja3['Data da Compra'], format="%d/%m/%Y")
loja3.pop('Data da Compra')
loja3['Ano']= loja2.Data_compra.dt.year
loja3['trimestre']= loja2.Data_compra.dt.quarter
#Loja 4
loja4['Data_compra'] = pd.to_datetime(loja4['Data da Compra'], format="%d/%m/%Y")
loja4.pop('Data da Compra')
loja4['Ano']= loja2.Data_compra.dt.year
loja4['trimestre']= loja2.Data_compra.dt.quarter,

,Produto,Categoria do Produto,Preço,Frete,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,Data_compra
0,Assistente virtual,eletronicos,219.08,9.249790,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79,2021-01-16
1,Mesa de jantar,moveis,256.35,11.234305,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66,2022-05-18
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,João Souza,DF,1,cartao_credito,1,-15.83,-47.86,2021-03-15
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,João Souza,RS,4,boleto,1,-30.17,-53.50,2022-05-03
4,Cadeira de escritório,moveis,446.99,26.964689,Larissa Alves,MG,5,boleto,1,-18.10,-44.38,2020-11-07

In [63]:
loja2['trimestre']= loja2.Data_compra.dt.quarter

In [64]:
loja2.head()

,Produto,Categoria do Produto,Preço,Frete,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,Data_compra,Ano,trimestre
0,Cadeira de escritório,moveis,378.20,20.421138,Thiago Silva,MG,1,boleto,1,-18.10,-44.38,2021-08-04,2021,3
1,Pandeiro,instrumentos musicais,102.37,3.035334,Bianca Santos,RJ,3,cartao_credito,4,-22.25,-42.66,2020-11-26,2020,4
2,Cama king,moveis,591.13,31.759020,Thiago Silva,SC,5,cartao_credito,10,-27.45,-50.95,2021-10-22,2021,4
3,Cama king,moveis,1208.24,61.919584,Larissa Alves,RS,5,cartao_credito,10,-30.17,-53.50,2022-05-04,2022,2
4,Cadeira de escritório,moveis,530.41,25.827176,Lucas Oliveira,SP,4,cartao_credito,3,-22.19,-48.79,2022-02-26,2022,1

#1. Análise do faturamento

# 2. Vendas por Categoria

# 3. Média de Avaliação das Lojas

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja